
  <div class="flex row align-center justify-content">
        {{#if devoured}}
         {{/if}}
         <p>{{ this.burgers_name }}</p>
        <button class="burgers-devoured" id="devour" data-id="{{ this.id }}" data-burgersDevoured="{{ this.devoured }}">
            DEVOUR!
        </button>
   
   
    <button class="delete-burgers" id="delete" data-id="{{ this.id }}">DELETE!</button>
    
</div>
